.main {
  padding: 2%;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
  float: left;
}
.typ {
  background-color: black;
}
.banner {
  background-color: black;
  padding: 20%;
}
.carrosel {
  width: 100%;
}

.content {
  margin: 2% 0% 0% 0%;
  padding: 10% 5% 5% 5%;
  border-radius: 10px 10px 0px 0px;
}

.about {
  margin-top: 10%;
  display: inline-block;
  -ms-transform: skewY(-12deg);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  border-radius: 10px 10px 0px 0px;
  background-color: black;
  color: white;
  text-align: left;
  padding: 5%;
}
.about > div {
  margin: 5% 0% 5% 0%;
  padding: 10%;
  -ms-transform: skewY(12deg);
  -webkit-transform: skewY(12deg);
  transform: skewY(12deg);
  color: white;
}
.back {
  border-radius: 10px;
  background-color: rgb(224, 88, 34);
}

.rota {
  display: inline-block;
  -ms-transform: skewY(-12deg);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  background-color: rgb(224, 88, 34);
  color: white;
  text-align: left;
  padding: 5%;
}

.rota > div {
  padding: 10%;
  -ms-transform: skewY(12deg);
  -webkit-transform: skewY(12deg);
  transform: skewY(12deg);
  color: white;
}
.rotaCard:hover {
  cursor: pointer;
}

.Social {
  -ms-transform: skewY(-12deg);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: left;
  padding: 5%;
  margin-bottom: 10%;
}

.Social > div {
  padding: 10%;
  -ms-transform: skewY(12deg);
  -webkit-transform: skewY(12deg);
  transform: skewY(12deg);
  color: white;
}
.SocialCard:hover {
  cursor: pointer;
}
.Social p:hover {
  background-color: rgb(202, 196, 196);
  transition: 0.5s;
}

.Social p {
  width: 30%;
  background-color: rgb(224, 88, 34);
  padding: 1%;
  transition: 0.5s;
  border-radius: 3px;
}
.GitImg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.instaImg {
  width: 30px;
  height: 30px;
  margin: 5px;
}
@media screen and (max-width: 600px) {
  .back {
    background-color: white;
  }
  .row {
    display: grid;
  }
  .Social p {
    width: 35%;
  }

  .GitImg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .instaImg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .banner {
    margin-top: 10%;
    padding: 10%;
  }
  .carrosel {
    width: 100%;
    margin: 0px;
  }
  .about p {
    font-size: 15px;
  }
  .Social {
    margin-bottom: 20%;
  }
}
